---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>投稿日: {frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>著者: {frontmatter.author}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

  <div class="flex flex-wrap">
    {
      frontmatter.tags.map((tag: string) => (
        <p class="m-1 border border-dotted border-[#a1a1a1] rounded-lg px-4 py-2 text-lg bg-[#f8fcfd]">
          <a href={`/tags/${tag}`} class="text-[#00539f]">{tag}</a>
        </p>
      ))
    }
  </div>

  <slot />
</BaseLayout>
